#mimodal{
    padding: 8px 8px 8px 8px;
    background: #faf9f9;
    border-color: #dad3d3;
    border-width: 1px;
    border-style: solid; 
}

#micajita {
    width: 90%;
    margin: 1em 1em 1em 1em;
}