.container {
    width: 100%;
    align-content: center;
    height: 100%;
}

.centrado {
    display: flex;
   align-items: center;
    justify-content: center;

}

.avatar {
    background-color: white;
}