#item-mensajero {
    border-radius: 30px;
    height: 4rem;
    padding: 0px;
    margin-top: 0.5rem;
    background-color:#F5F5F5;
}

.avatar-user {
    top: -10px;
    left: -8px;
    background-color: #bdbdbd;
}

.avatar-vehiculo {
    top: -10px;
    right: -14px;
}
.text{
    align-items: center;
    justify-content: center;
}
.text-position{
   display: flex;
   justify-content: flex-start;
   justify-content: space-between;
   flex-direction: column;
   align-items: center;
   margin-bottom: 2px;
   
}